<h1>Edit Candidate</h1>
<%= form_for @replacement do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :experience %>
  <%= f.text_field :experience %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.label :likelihood %>
  <%= f.text_field :likelihood %>

  <%= f.submit %>

<% end %>

<%= link_to 'Cancel', replacements_path %>
