<h1><%= @replacement.name %></h1>
<h4>Age: <%= @replacement.age %></h4>
<h4>Experience: <%= @replacement.experience %></h4>
<h4>Rating: <%= @replacement.rating %></h4>
<h4>Likelihood of taking over: <%= @replacement.likelihood %></h4>
<%= link_to 'Back', replacements_path %>
